[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Categories=Network;
Icon=harbour-sailhn
Exec=harbour-sailhn
Name=SailHN
Comment=Hacker News unofficial client
